<!doctype html>
<html lang=en>

{{ partial "head.html" . }}

<body>
{{ partial "navbar.html" . }}
<main class="container">
  <article>
    <header class="hgroup article-header">
      <p class="details">{{ partial "time.html" .Date }} &middot; <span title="{{ .WordCount }} words">{{.ReadingTime}} min read</span>
      </p>
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}<p class="subtitle">{{.}}</p>{{end}}
    </header>
    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
</main>
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
</body>

</html>