<!doctype html>
<html lang=en>

{{ partial "head.html" . }}

<body>
{{ partial "navbar.html" . }}
<main class="container">
  <header class="hgroup">
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="subtitle">List description</h2>
  </header>
  <section class="article-list">
    {{ template "_internal/pagination.html" . }} {{ range .Paginator.Pages }}
    <article>
      <header>
        <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <h3 class="subtitle">{{ len .Pages }} {{ if gt (len .Pages) 1 }}posts{{else}}post{{end}}</h3>
      </header>
    </article>
    {{ end }}
  </section>
</main>
{{ partial "footer.html" . }}
</body>

</html>
