<footer>
  <nav class="navbar-bottom">
    <div class="container">
      <span class="nav-item">&copy; {{ .Site.Copyright }}</span>
      <span class="spacer"></span>
      {{ with .Site.Params.medium }}<span class="nav-item"><a href="{{ . }}">Medium</a></span>{{ end }}
      {{ with .Site.Params.sourceCode }}<span class="nav-item"><a href="{{ . }}">Source</a></span>{{ end }}
      {{ if isset .Site.Params "privacyurl" }}
      <span class="nav-item"><a href="{{ .Site.Params.privacyURL }}">Privacy</a></span>
      {{ else if .Site.GetPage "page" "pages/privacy.md" }}
      <span class="nav-item"><a href="/pages/privacy">Privacy</a></span>
      {{ end }}
    </div>
  </nav>
</footer>