<!doctype html>
<html lang=en>

{{ partial "head.html" . }}

<body>
{{ partial "navbar.html" . }}
<main class="container">
  <header class="hgroup">
    <h1 class="title">{{ .Site.Title }}</h1>
    <p class="subtitle">Blog subtitle</p>
  </header>
  <section class="article-list">
    {{ template "_internal/pagination.html" . }} {{ range (where .Paginator.Pages "Section" "posts") }}
    {{ partial "article-list-item.html" . }}
    {{ end }}
  </section>
</main>
{{ partial "footer.html" . }}
</body>

</html>